#ft{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blue;
}

footer{
    position: fixed;
    bottom: 0;    

}

.pessoais{
    margin-left: 540px;
}


.iform{
    border: 2px black solid;
}



.lbldados  label{
color: blue;
display: flow-root;
text-align: center;

}



.menu-dados{
    border: 1px solid blue;
}

.minha-fto img{
    border-radius: 690%;
    margin-left: 430px;
}

.banner01{
    margin-left: 550px;
    text-shadow: 4px 4px 4cqmax rgba(55, 0, 255, 0.795);
    color: #209cee;
}

.banner-rodape {
    background-color: black;  
    width: 100%;

}

#textbanner{
    color: orange;

margin-left: 440px;
}



.meio {
    margin-left: 240px;
    color: blue;
}

